@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-primary: #121212;
  --color-surface: #1A1A1A;

  --color-border: #2A2A2A;
  --color-border-hover: #3F3F3F;
  --color-border-focus: #7C3AED;     /* Фіолетовий */
  --color-border-active: #8B5CF6;
  --color-border-disabled: #3F3F3F80;

  --color-text-primary: #F4F4F5;
  --color-text-secondary: #A1A1AA;
  --color-text-hover: #38BDF8;       /* Яскраво-блакитний */
  --color-text-focus: #7DD3FC;
  --color-text-muted: #52525B;
  --color-text-disabled: #6B7280;
  --color-text-danger: #EF4444;

  --color-text-link: #60A5FA;
  --color-text-link-hover: #93C5FD;
  --color-text-link-visited: #60A5FA;
  --color-text-link-active: #2563EB;

  --color-button-bg: #7C3AED;
  --color-button-bg-hover: #8B5CF6;
  --color-button-bg-active: #6D28D9;
  --color-button-bg-disabled: #2A2A2A;
  --color-button-text: #FFFFFF;
  --color-button-text-disabled: #A3A3A3;

  --color-error: #DC2626;
  --color-success: #16A34A;
  --color-warning: #D97706;
  --color-info: #3B82F6;

  --color-input-bg: #1F1F1F;
  --color-input-bg-focus: #292929;
  --color-input-bg-hover: #2F2F2F;
  --color-input-bg-disabled: #1C1C1C;

  --color-placeholder: #737373;

  --color-icon: #D4D4D8;
  --color-icon-hover: #F9FAFB;
  --color-icon-active: #60A5FA;
  --color-icon-muted: #4B5563;
  --color-icon-disabled: #6B7280;
  --color-icon-danger: #F87171;

  --color-icon-focus: #7DD3FC;
  --color-icon-error: #DC2626;
  --color-icon-success: #22C55E;
}
